## Pivot tables

In [1]:
import pandas as pd
import numpy as np

In [2]:
#pip install pandas

In [3]:
#pip install numpy

In [4]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [6]:
df = pd.read_csv('datasets/census.csv')
df.head(2)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333

In [20]:
my_pivot = pd.pivot_table(df,
                          index = 'STNAME',
                          values = 'BIRTHS2010',
                          aggfunc = ['mean','sum','median'],
                          columns = 'REGION',
                          margins = True
                         )
my_pivot

                             mean                                        \
REGION                          1           2            3            4
STNAME
Alabama                       NaN         NaN   418.411765          NaN
Alaska                        NaN         NaN          NaN   192.800000
Arizona                       NaN         NaN          NaN  2617.125000
Arkansas                      NaN         NaN   248.394737          NaN
California                    NaN         NaN          NaN  4180.474576
Colorado                      NaN         NaN          NaN   516.646154
Connecticut           2108.666667         NaN          NaN          NaN
Delaware                      NaN         NaN  1423.500000          NaN
District of Columbia          NaN         NaN  2243.000000          NaN
Florida                       NaN         NaN  1496.235294          NaN
Georgia                       NaN         NaN   406.112500          NaN
Hawaii                        NaN         NaN          NaN  1548.666667
Idaho                         NaN         NaN          NaN   265.377778
Illinois                      NaN  812.349515          NaN          NaN
Indiana                       NaN  450.774194          NaN          NaN
Iowa                          NaN  199.340000          NaN          NaN
Kansas                        NaN  188.528302          NaN          NaN
Kentucky                      NaN         NaN   226.297521          NaN
Louisiana                     NaN         NaN   448.400000          NaN
Maine                  405.058824         NaN          NaN          NaN
Maryland                      NaN         NaN  1476.880000          NaN
Massachusetts         2486.266667         NaN          NaN          NaN
Michigan                      NaN  692.904762          NaN          NaN
Minnesota                     NaN  397.727273          NaN          NaN
Mississippi                   NaN         NaN   227.012048          NaN
Missouri                      NaN  327.793103          NaN          NaN
Montana                       NaN         NaN          NaN   107.649123
Nebraska                      NaN  138.617021          NaN          NaN
Nevada                        NaN         NaN          NaN   988.000000
New Hampshire          594.363636         NaN          NaN          NaN
New Jersey            2411.727273         NaN          NaN          NaN
New Mexico                    NaN         NaN          NaN   391.117647
New York              1949.650794         NaN          NaN          NaN
North Carolina                NaN         NaN   592.356436          NaN
North Dakota                  NaN   86.703704          NaN          NaN
Ohio                          NaN  782.224719          NaN          NaN
Oklahoma                      NaN         NaN   337.025641          NaN
Oregon                        NaN         NaN          NaN   642.000000
Pennsylvania          1061.794118         NaN          NaN          NaN
Rhode Island           958.333333         NaN          NaN          NaN
South Carolina                NaN         NaN   603.404255          NaN
South Dakota                  NaN   90.507463          NaN          NaN
Tennessee                     NaN         NaN   409.645833          NaN
Texas                         NaN         NaN   727.584314          NaN
Utah                          NaN         NaN          NaN   916.800000
Vermont                220.533333         NaN          NaN          NaN
Virginia                      NaN         NaN   383.850746          NaN
Washington                    NaN         NaN          NaN  1112.200000
West Virginia                 NaN         NaN   182.285714          NaN
Wisconsin                     NaN  481.041096          NaN          NaN
Wyoming                       NaN         NaN          NaN   166.250000
All                   1446.203540  398.547329   512.511466  1054.394794

                                        sum                                \
REGION                        All         1         2         3         4
STNAME
Alabama                418.411765       NaN       NaN   28452.0       NaN
Alaska                 192.800000       NaN       NaN       NaN    5784.0
Arizona               2617.125000       NaN       NaN       NaN   41874.0
Arkansas               248.394737       NaN       NaN   18878.0       NaN
California            4180.474576       NaN       NaN       NaN  246648.0
Colorado               516.646154       NaN       NaN       NaN   33582.0
Connecticut           2108.666667   18978.0       NaN       NaN       NaN
Delaware              1423.500000       NaN       NaN    5694.0       NaN
District of Columbia  2243.000000       NaN       NaN    4486.0       NaN
Florida               1496.235294       NaN       NaN  101744.0       NaN
Georgia                406.112500       NaN       NaN   64978.0       NaN
Hawaii                1548.666667       NaN       NaN       NaN    9292.0
Idaho                  265.377778       NaN       NaN       NaN   11942.0
Illinois               812.349515       NaN   83672.0       NaN       NaN
Indiana                450.774194       NaN   41922.0       NaN       NaN
Iowa                   199.340000       NaN   19934.0       NaN       NaN
Kansas                 188.528302       NaN   19984.0       NaN       NaN
Kentucky               226.297521       NaN       NaN   27382.0       NaN
Louisiana              448.400000       NaN       NaN   29146.0       NaN
Maine                  405.058824    6886.0       NaN       NaN       NaN
Maryland              1476.880000       NaN       NaN   36922.0       NaN
Massachusetts         2486.266667   37294.0       NaN       NaN       NaN
Michigan               692.904762       NaN   58204.0       NaN       NaN
Minnesota              397.727273       NaN   35000.0       NaN       NaN
Mississippi            227.012048       NaN       NaN   18842.0       NaN
Missouri               327.793103       NaN   38024.0       NaN       NaN
Montana                107.649123       NaN       NaN       NaN    6136.0
Nebraska               138.617021       NaN   13030.0       NaN       NaN
Nevada                 988.000000       NaN       NaN       NaN   17784.0
New Hampshire          594.363636    6538.0       NaN       NaN       NaN
New Jersey            2411.727273   53058.0       NaN       NaN       NaN
New Mexico             391.117647       NaN       NaN       NaN   13298.0
New York              1949.650794  122828.0       NaN       NaN       NaN
North Carolina         592.356436       NaN       NaN   59828.0       NaN
North Dakota            86.703704       NaN    4682.0       NaN       NaN
Ohio                   782.224719       NaN   69618.0       NaN       NaN
Oklahoma               337.025641       NaN       NaN   26288.0       NaN
Oregon                 642.000000       NaN       NaN       NaN   23754.0
Pennsylvania          1061.794118   72202.0       NaN       NaN       NaN
Rhode Island           958.333333    5750.0       NaN       NaN       NaN
South Carolina         603.404255       NaN       NaN   28360.0       NaN
South Dakota            90.507463       NaN    6064.0       NaN       NaN
Tennessee              409.645833       NaN       NaN   39326.0       NaN
Texas                  727.584314       NaN       NaN  185534.0       NaN
Utah                   916.800000       NaN       NaN       NaN   27504.0
Vermont                220.533333    3308.0       NaN       NaN       NaN
Virginia               383.850746       NaN       NaN   51436.0       NaN
Washington            1112.200000       NaN       NaN       NaN   44488.0
West Virginia          182.285714       NaN       NaN   10208.0       NaN
Wisconsin              481.041096       NaN   35116.0       NaN       NaN
Wyoming                166.250000       NaN       NaN       NaN    3990.0
All                    618.751018  326842.0  425250.0  737504.0  486076.0

                               median
REGION                    All       1      2       3      4     All
STNAME
Alabama                 28452     NaN    NaN   111.0    NaN   111.0
Alaska                   5784     NaN    NaN     NaN   24.5    24.5
Arizona                 41874     NaN    NaN     NaN  440.5   440.5
Arkansas                18878     NaN    NaN    54.5    NaN    54.5
California             246648     NaN    NaN     NaN  574.0   574.0
Colorado                33582     NaN    NaN     NaN   38.0    38.0
Connecticut             18978   656.0    NaN     NaN    NaN   656.0
Delaware                 5694     NaN    NaN  1139.0    NaN  1139.0
District of Columbia     4486     NaN    NaN  2243.0    NaN  2243.0
Florida                101744     NaN    NaN   235.0    NaN   235.0
Georgia                 64978     NaN    NaN    64.5    NaN    64.5
Hawaii                   9292     NaN    NaN     NaN  535.0   535.0
Idaho                   11942     NaN    NaN     NaN   48.0    48.0
Illinois                83672     NaN   69.0     NaN    NaN    69.0
Indiana                 41922     NaN  106.0     NaN    NaN   106.0
Iowa                    19934     NaN   47.0     NaN    NaN    47.0
Kansas                  19984     NaN   21.0     NaN    NaN    21.0
Kentucky                27382     NaN    NaN    56.0    NaN    56.0
Louisiana               29146     NaN    NaN   102.0    NaN   102.0
Maine                    6886   132.0    NaN     NaN    NaN   132.0
Maryland                36922     NaN    NaN   364.0    NaN   364.0
Massachusetts           37294  1328.0    NaN     NaN    NaN  1328.0
Michigan                58204     NaN  109.5     NaN    NaN   109.5
Minnesota               35000     NaN   68.5     NaN    NaN    68.5
Mississippi             18842     NaN    NaN    77.0    NaN    77.0
Missouri                38024     NaN   52.5     NaN    NaN    52.5
Montana                  6136     NaN    NaN     NaN   18.0    18.0
Nebraska                13030     NaN   19.5     NaN    NaN    19.5
Nevada                  17784     NaN    NaN     NaN   65.5    65.5
New Hampshire            6538   186.0    NaN     NaN    NaN   186.0
New Jersey              53058  1227.0    NaN     NaN    NaN  1227.0
New Mexico              13298     NaN    NaN     NaN   88.0    88.0
New York               122828   248.0    NaN     NaN    NaN   248.0
North Carolina          59828     NaN    NaN   147.0    NaN   147.0
North Dakota             4682     NaN   10.0     NaN    NaN    10.0
Ohio                    69618     NaN  163.0     NaN    NaN   163.0
Oklahoma                26288     NaN    NaN    68.5    NaN    68.5
Oregon                  23754     NaN    NaN     NaN  126.0   126.0
Pennsylvania            72202   231.0    NaN     NaN    NaN   231.0
Rhode Island             5750   322.5    NaN     NaN    NaN   322.5
South Carolina          28360     NaN    NaN   184.0    NaN   184.0
South Dakota             6064     NaN   17.0     NaN    NaN    17.0
Tennessee               39326     NaN    NaN    87.0    NaN    87.0
Texas                  185534     NaN    NaN    53.0    NaN    53.0
Utah                    27504     NaN    NaN     NaN   83.5    83.5
Vermont                  3308   101.0    NaN     NaN    NaN   101.0
Virginia                51436     NaN    NaN    68.0    NaN    68.0
Washington              44488     NaN    NaN     NaN  164.0   164.0
West Virginia           10208     NaN    NaN    64.5    NaN    64.5
Wisconsin               35116     NaN  120.0     NaN    NaN   120.0
Wyoming                  3990     NaN    NaN     NaN   65.0    65.0
All                   1975672   280.0   56.0    78.0   74.0    78.0

In [16]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [22]:
df =pd.read_csv('datasets/airline_data.csv',
               low_memory=False
               )
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
a = df.columns.tolist()
a.sort()
a

['ActualElapsedTime',
 'AirTime',
 'ArrDel15',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrTime',
 'ArrTimeBlk',
 'ArrivalDelayGroups',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Cancelled',
 'CarrierDelay',
 'DOT_ID_Reporting_Airline',
 'DayOfWeek',
 'DayofMonth',
 'DepDel15',
 'DepDelay',
 'DepDelayMinutes',
 'DepTime',
 'DepTimeBlk',
 'DepartureDelayGroups',
 'Dest',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'Distance',
 'DistanceGroup',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1LongestGTime',
 'Div1TailNum',
 'Div1TotalGTime',
 'Div1WheelsOff',
 'Div1WheelsOn',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2LongestGTime',
 'Div2TailNum',
 'Div2TotalGTime',
 'Div2WheelsOff',
 'Div2WheelsOn',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3LongestGTime',
 'Div3TailNum',
 'Div3TotalGTime',
 'Div3WheelsOff',
 'Div3WheelsOn',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4LongestGTime',
 'Div4TailNum',
 'Div4TotalGTime',
 'Div4WheelsOff',
 'Div4WheelsOn',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5LongestGTime',
 'Div5TailNum',
 'Div5TotalGTime',
 'Div5WheelsOff',
 'Div5WheelsOn',
 'DivActualElapsedTime',
 'DivAirportLandings',
 'DivArrDelay',
 'DivDistance',
 'DivReachedDest',
 'Diverted',
 'FirstDepTime',
 'FlightDate',
 'Flight_Number_Reporting_Airline',
 'Flights',
 'IATA_CODE_Reporting_Airline',
 'LateAircraftDelay',
 'LongestAddGTime',
 'Month',
 'NASDelay',
 'Origin',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'Quarter',
 'Reporting_Airline',
 'SecurityDelay',
 'Tail_Number',
 'TaxiIn',
 'TaxiOut',
 'TotalAddGTime',
 'Unnamed: 0',
 'WeatherDelay',
 'WheelsOff',
 'WheelsOn',
 'Year']

In [33]:
dep_delay_pivot = pd.pivot_table (df,
                                 index= ['Year',
                                  'Quarter'],
                                  values = 'DepDelay',
                                  columns = 'DepartureDelayGroups',
                                  aggfunc = 'count',
                                 )
dep_delay_pivot

DepartureDelayGroups  -2.0   -1.0    0.0    1.0    2.0    3.0    4.0    5.0   \
Year Quarter
1987 4                  NaN    7.0   35.0    7.0    1.0    2.0    NaN    NaN
1988 1                  NaN    9.0   42.0    6.0    NaN    2.0    1.0    1.0
     2                  NaN    8.0   41.0    6.0    3.0    1.0    NaN    1.0
     3                  NaN   14.0   49.0    1.0    1.0    NaN    NaN    NaN
     4                  NaN    7.0   46.0    6.0    3.0    NaN    1.0    1.0
...                     ...    ...    ...    ...    ...    ...    ...    ...
2019 1                  NaN   52.0   19.0    6.0    1.0    4.0    NaN    1.0
     2                  1.0   57.0   20.0    9.0    5.0    3.0    3.0    2.0
     3                  NaN   44.0   17.0    3.0    5.0    1.0    2.0    2.0
     4                  NaN   49.0   25.0    7.0    5.0    1.0    1.0    NaN
2020 1                  NaN   50.0   16.0    2.0    3.0    1.0    2.0    1.0

DepartureDelayGroups   6.0    7.0    8.0    9.0    10.0   11.0   12.0
Year Quarter
1987 4                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
1988 1                  1.0    1.0    NaN    NaN    NaN    NaN    NaN
     2                  NaN    NaN    NaN    NaN    1.0    1.0    NaN
     3                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
     4                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
...                     ...    ...    ...    ...    ...    ...    ...
2019 1                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
     2                  1.0    1.0    1.0    NaN    1.0    NaN    NaN
     3                  1.0    NaN    NaN    NaN    NaN    NaN    2.0
     4                  NaN    NaN    NaN    NaN    NaN    NaN    NaN
2020 1                  NaN    NaN    NaN    1.0    NaN    NaN    NaN

[130 rows x 15 columns]

In [34]:
df.groupby(['DepDelay','DepartureDelayGroups']).size()

DepDelay  DepartureDelayGroups
-23.0     -2.0                    1
-19.0     -2.0                    2
-18.0     -2.0                    1
-17.0     -2.0                    3
-16.0     -2.0                    6
                                 ..
 403.0     12.0                   1
 460.0     12.0                   1
 600.0     12.0                   1
 732.0     12.0                   1
 988.0     12.0                   1
Length: 224, dtype: int64